<div class="mainVisits">

  <div class="addVisitComponent">
    <h1>Dodaj nową wizytę</h1>



    <h2>Dodaj nową wizytę na podstawie numeru PESEL pacjenta znajdującego się w bazie danych</h2>

    <label class="labelFont">PESEL:</label>
    <input type="text" value="{{selectedPesel}}" class="inputField" #peselInput><br>
    <label class="labelFont">Data:</label>
    <input type="date" class="dataField" #dateInput><br>
    <label class="labelFont">Godzina:</label>
    <input type="time" class="godzinaField" #timeInput><br>
    <br>
    <button class="saveButton" (click)="addVisit($event)">Stwórz wizytę</button>

  </div>

  <div class="upcomingVisitsComponent">
    <h1>Nadchodzące wizyty</h1>
    <br>
    <div class="mojeWizyty" *ngFor="let wizyta of mojeWizyty">
      {{wizyta.patient.pesel}} {{wizyta.patient.firstName}} {{wizyta.patient.secondName}} {{wizyta.date}} {{wizyta.time}}
      <button class="deleteButton" (click)="removeVisit(wizyta.id)">Usuń</button>
    </div><br><br>

    <button class="saveButton" (click)="refreshVisits($event)">Odśwież</button>

  </div>
  <!--  <p></p>-->
  <!--  <div class="pastVisits">-->
  <!--    <h1>Odbyte wizyty</h1>-->
  <!--    -->
  <!--  </div>-->

</div>

<jw-modal id="pustePoleModal">
  <h2>Żadne pole nie może być puste</h2>
  <p>Wypełnij wszystkie pola: PESEL, Data i Godzina</p>
  <button class="addNewPatientButton" (click)="closeModal('pustePoleModal');">Zamknij</button>
</jw-modal>
