.mainVisits{
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.addVisitComponent{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 65%;
    background: white;
    color: black;
    margin: auto;
    border-radius: 25px;
    min-height: 150px;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

*{
  box-sizing: border-box;
}

.labelFont {
  display: inline-block;
  width: 140px;
  font-size: large;
  text-align: right;
  margin-right: 5px;
}

.inputField,
.dataField,
.godzinaField{
  width: 35%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}

.addNewPatientButton {
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.commentField{
  width: 35%;
  padding: 12px 20px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 90px;
  background: #f7f7f7;
  resize: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.saveButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.upcomingVisitsComponent, .pastVisits{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  min-height: 200px;
  background: white;
  color: black;
  border-radius: 25px;
  margin-top: 15px;
}

.deleteButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}
