.colorBar{
    background-color: #ffffff;
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
}

.bannerImage{
    width: 80%;
    height: auto;
    max-height: 100px;
}

.name{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar{
    background-color: #68adb4;
    text-align: center;
}

.footer{
    background-color: #68adb4;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: 0;
}

.routerOutlet{
  flex: 1;
}
