<div class="colorBar">

  <div class="banner">
    <img class="bannerImage" src="assets\images\banner.jpg">
    <div class="name">

    </div>
  </div>

  <div class="navbar">
    <button mat-button (click)="home()">Home</button>
    <button mat-button (click)="pacjenci()">Pacjenci</button>
    <button mat-button (click)="wizyty()">Wizyty</button>
    <button mat-button (click)="uslugi()">Usługi</button>
<!--    <button mat-button (click)="zabiegi()">Zabiegi</button>-->

<!--    <button mat-button [matMenuTriggerFor]="menu1">Menu</button>-->
<!--    <mat-menu #menu1="matMenu">-->
<!--      <button mat-menu-item (click)="pierwsza()">Pierwsza</button>-->
<!--    </mat-menu>-->

  </div>
</div>
<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>


<div class="footer">
  v1.3
</div>
