<div class="mainTreatment">

  <div class="addNewTreatment">

    <h1>Dodaj zabieg</h1><br>

    <label class="labelFont">ID Wizyty:</label>
    <input type="text" class="inputField"><br>
    <label class="labelFont">Usługa: </label>
    <select id="service" class="inputField">
      <option value="sampleService1">Przykładowa usługa 1</option>
      <option value="sampleService2">Przykładowa usługa 2</option>
      <option value="sampleService3">Przykładowa usługa 3</option>
    </select><br>
    <label class="labelFont">Opis zabiegu:</label>
    <textarea class="commentField"></textarea><br><br>

    <button class="saveButton">Dodaj</button>
  </div>

  <div class="treatmentHistory">

    <h1>Historia zabiegów</h1>
    <input type="text" placeholder="PESEL" class="searchBar">
    <button class="searchButton">Szukaj</button><br><br>
    <button class="saveButton">Pokaż całą historię zabiegów</button>

  </div>

</div>
