.mainTreatment{
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.addNewTreatment{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  min-height: 400px;
  background: white;
  color: black;
  border-radius: 25px;
  margin-top: 15px;
}

.labelFont{
  display: inline-block;
  width: 140px;
  font-size: large;
  text-align: right;
  margin-right: 5px;
}

.inputField{
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}

.commentField {
  width: 50%;
  padding: 12px 20px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 100px;
  background: #f7f7f7;
}

.saveButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.treatmentHistory{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  min-height: 170px;
  background: white;
  color: black;
  border-radius: 25px;
  margin-top: 15px;
}

.searchButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.searchBar{
  width: 70%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}
