<div class="mainServices">

  <div class="addService">
    <h1>Dodaj nową usługę</h1>


    <label id="example-radio-group-label">Wybierz czego dotyczy usługa: </label><br><br>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="pickedUsluga">
      <mat-radio-button class="example-radio-button" *ngFor="let uslugiDoWyboru of uslugi" [value]="uslugiDoWyboru">
        {{uslugiDoWyboru}}
      </mat-radio-button>
    </mat-radio-group>

    <br><br>
    <label class="labelFont">Wpisz nazwę usługi:</label><br>
    <input type="text" class="serviceName" #serviceNameInput><br><br>
    <label class="labelFont">Wpisz cenę usługi:</label><br>
    <input type="number" step="any" min="0" class="servicePrice" #servicePriceInput><br><br>
    <button class="saveButton" (click)="onZapisz($event)">Zapisz</button>
  </div>
  <p></p>
  <div class="displayServices">
    <h1>Twoje usługi</h1>

    <div class="mojeUslugi" *ngFor="let usluga of mojeUslugi">
      {{usluga.id}} {{usluga.serviceName}} {{usluga.serviceType}} {{usluga.price}}
      <button class="deleteButton" (click)="deleteService(usluga.id)">Usuń</button>
    </div>
    <br>
    <button class="saveButton" (click)="odswiezUslugi()">Odśwież</button>
  </div>

</div>
