.mainServices{
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.addService, .displayServices{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 65%;
  background: white;
  color: black;
  margin: auto;
  border-radius: 25px;
}

.labelFont{
  font-size: large;
}

.serviceName, .servicePrice{
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}

.saveButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.deleteButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}
