<!--{{patient.firstName}}-->
<!--{{patient.secondName}}-->
<!--{{patient.pesel}} -->

<div class="mainPatientProfile">

  <div class="patientProfile">

    <h1>Profil pacjenta</h1>

    <div>
      <button class="editPatientButton" (click)="redirect(patient.pesel)">Stwórz wizytę</button><br><br><br>
    </div>
    <div>
      <label class="labelFont">Imię:</label>
      <input type="text" value="{{patient.firstName}}" class="nameField" #firstNameInput>
    </div>
    <div>
      <label class="labelFont">Nazwisko:</label>
      <input type="text" value="{{patient.secondName}}" class="secondNameField" #secondNameInput>
    </div>
    <div>
      <label class="labelFont">Data urodzenia:</label>
      <input type="date" value="{{patient.birthDate}}" class="birthDate" #birthDateInput>
    </div>

    <div class="radio">
      <label id="example-radio-group-label">Płeć: </label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                       [(ngModel)]="patient.gender">
        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <br><label class="labelFont">Kod pocztowy:</label>
      <input type="text" value="{{patient.postalCode}}" class="postalCode" #postalCodeInput>
    </div>
    <div>
      <label class="labelFont">Miejscowość:</label>
      <input type="text" value="{{patient.city}}" class="cityField" #cityInput>
    </div>
    <div>
      <label class="labelFont">Ulica:</label>
      <input type="text" value="{{patient.streetName}}" class="streetField" #streetInput>
    </div>
    <div>
      <label class="labelFont">Nr domu / lokalu:</label>
      <input type="text" value="{{patient.homeNumber}}" class="homeNumberField" #homeNumberInput>
    </div>
    <div>
      <label class="labelFont">Telefon:</label>
      <input type="number" value="{{patient.phoneNumber}}" class="phoneField" #phoneNumberInput>
    </div>
    <div>
      <label class="labelFont">PESEL:</label>
      <input type="string" value="{{patient.pesel}}" class="peselField" #peselInput>
    </div>
    <div class="commentBlock">
      <label class="labelFont">Uwagi:</label> <!--  trzeba poprawic ulozenie napisu "Uwagi" wzgledem pola -->
      <textarea value="{{patient.comments}}" class="commentField" #commentsInput></textarea>
    </div><br>

    <button (click)="editPatient($event)" class="editPatientButton">Nadpisz dane pacjenta</button><br><br>

    <button class="editPatientButton" (click)="deletePatient($event)">Usuń pacjenta</button>



  </div>

</div>
