.mainPatients {
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

//searching patients

.searchPatient {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 65%;
  background: white;
  color: black;
  margin: auto;
  border-radius: 25px;
}

.patientSearchBar {
  width: 70%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}

.searchButton {
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

//adding new patient

.addNewPatient {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 65%;
  background: white;
  color: black;
  margin: auto;
  border-radius: 25px;
}

.nameField,
.secondNameField,
.surnameField,
.birthDate,
.postalCode,
.cityField,
.streetField,
.homeNumberField,
.phoneField,
.peselField {
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f7f7;
}

.labelFont {
  display: inline-block;
  width: 140px;
  font-size: large;
  text-align: right;
  margin-right: 5px;
}

.commentField {
  width: 50%;
  padding: 12px 20px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 100px;
  background: #f7f7f7;
}

.addNewPatientButton {
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  margin: 20px auto 20px auto;
  width: 80%;
  text-align: left;
}

.radio{
  margin-top: 15px;
}

.example-radio-group {
  font-size: large;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}

#example-radio-group-label{
  font-size: large;
}

.choosePatientButton{
  background-color: #68adb4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
