<div class="mainPatients">

  <div class="addNewPatient">
    <h1>Dodaj nowego pacjenta</h1>
    <div>
      <label class="labelFont">Imię:</label>
      <input type="text" class="nameField" #firstNameInput>
    </div>
    <div>
      <label class="labelFont">Nazwisko:</label>
      <input type="text" class="secondNameField" #secondNameInput>
    </div>
    <div>
      <label class="labelFont">Data urodzenia:</label>
      <input type="date" class="birthDate" #birthDateInput>
    </div>

    <div class="radio">
      <label id="example-radio-group-label">Płeć: </label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="pickedGender">
        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <br><label class="labelFont">Kod pocztowy:</label>
      <input type="text" class="postalCode" #postalCodeInput>
    </div>
    <div>
      <label class="labelFont">Miejscowość:</label>
      <input type="text" class="cityField" #cityInput>
    </div>
    <div>
      <label class="labelFont">Ulica:</label>
      <input type="text" class="streetField" #streetInput>
    </div>
    <div>
      <label class="labelFont">Nr domu / lokalu:</label>
      <input type="text" class="homeNumberField" #homeNumberInput>
    </div>
    <div>
      <label class="labelFont">Telefon:</label>
      <input type="number" class="phoneField" #phoneNumberInput>
    </div>
    <div>
      <label class="labelFont">PESEL:</label>
      <input type="text" class="peselField" #peselInput>
    </div>
    <div class="commentBlock">
      <label class="labelFont">Uwagi:</label> <!--  trzeba poprawic ulozenie napisu "Uwagi" wzgledem pola -->
      <textarea class="commentField" #commentsInput></textarea>
    </div>

    <button (click)="addPatient($event)" class="addNewPatientButton">Zapisz</button>

  </div>
  <p></p> <!-- nice white space kappa -->

  <jw-modal id="dodanoPacjentaModal">
    <h2>Dodano pacjenta</h2>
    <p>{{addedPatient}}</p>
    <button class="addNewPatientButton" (click)="closeModal('dodanoPacjentaModal');">Zamknij</button>
  </jw-modal>

  <div class="searchPatient">
    <h1>Szukaj pacjenta</h1>
    <input type="text" placeholder="Nazwisko" class="patientSearchBar" #szukajInput>
    <button class="searchButton" (click)="getPatientsBySecondName($event)">Szukaj</button>

    <table mat-table [dataSource]="patients" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> PESEL </th>
        <td mat-cell *matCellDef="let element" name="pesel"> {{element.pesel}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Imię </th>
        <td mat-cell *matCellDef="let element" name="imie"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
        <td mat-cell *matCellDef="let element" name="nazwisko"> {{element.secondName}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Miasto </th>
        <td mat-cell *matCellDef="let element" name="miasto"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="streetName">
        <th mat-header-cell *matHeaderCellDef> Ulica </th>
        <td mat-cell *matCellDef="let element" name="ulica"> {{element.streetName}} </td>
      </ng-container>

      <ng-container matColumnDef="homeNumber">
        <th mat-header-cell *matHeaderCellDef> Numer domu </th>
        <td mat-cell *matCellDef="let element" name="numerDomu"> {{element.homeNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Link </th>
        <td mat-cell *matCellDef="let element"> <button class="choosePatientButton"
            (click)="redirect(element.id)">Wybierz</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="searchButton" (click)="getAllPatients()">Odśwież</button>

  </div>

</div>
