.mainPage{
  align-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.mainPageText{
  padding-top: 15px;
  text-align: center;
  width: 65%;
  min-height: 500px;
  background: white;
  color: black;
  margin: auto;
  border-radius: 25px;

}
