<div class="mainPage">

  <div class="mainPageText">
    <h1>DENTIST APP</h1>
    <h3>Witamy w naszej aplikacji dla dentystów.</h3>

    <p>Szybki poradnik jak używać aplikacji:</p>
    <p>Home - znajdziesz tutaj informacje o aplikacji</p>
    <p>Pacjenci - możesz dodać nowego pacjenta, a także przeglądać istniejących pacjentów w bazie danych.
    Możesz wyszukać danego pacjenta po nazwisku i nacisnąć przycisk "Wybierz" aby wejść w jego profil zawierający wszystkie informacje o nim.
    Z poziomu profilu pacjenta możesz edytować jego dane, usunąć go, lub stworzyć wizytę dla niego.</p>
    <p>Wizyty - możesz tam dodać wizytę dla pacjenta na podstawie jego numeru PESEL a także przeglądać nadchodzące wizyty. Możesz je także usuwać.</p>
    <p>Usługi - tutaj możesz dodać listę Twoich usług - czego dotyczy, nazwę oraz cenę. Służy to jako swojego rodzaju cennik dla usług jakie świadczysz.</p>
  </div>

</div>

